{
  "swagger": "2.0",
  "info": {
    "title": "Minds Market Research",
    "description": "Create and review synthetic market research Studies with Minds.",
    "version": "1.0",
    "contact": {
      "name": "Minds Support",
      "url": "https://getminds.ai/contact"
    }
  },
  "host": "getminds.ai",
  "basePath": "/api/v1",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "oauth2-auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://getminds.ai/oauth/authorize",
      "tokenUrl": "https://getminds.ai/oauth/token",
      "scopes": {
        "flows:read": "Read your Studies, their messages, and summaries.",
        "flows:write": "Create Studies and preview research plans.",
        "sparks:read": "Read the Minds and Audiences attached to your Studies."
      }
    }
  },
  "security": [
    {
      "oauth2-auth": [
        "flows:read",
        "flows:write",
        "sparks:read"
      ]
    }
  ],
  "paths": {
    "/studies": {
      "get": {
        "operationId": "ListStudies",
        "summary": "List Studies",
        "description": "List Studies owned by the authenticated user, ordered by updatedAt descending and then id descending. Each Study embeds its attached Audiences and their member Minds. Offset pages may shift if Studies change between requests.",
        "tags": [
          "Studies"
        ],
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of Studies to return.",
            "type": "integer",
            "default": 100,
            "minimum": 1,
            "maximum": 100,
            "format": "int32",
            "x-ms-summary": "Limit"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of Studies to skip before returning results.",
            "type": "integer",
            "default": 0,
            "minimum": 0,
            "format": "int32",
            "x-ms-summary": "Offset"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of studies.",
            "schema": {
              "type": "object",
              "required": [
                "data",
                "pagination"
              ],
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/StudySummary"
                  }
                },
                "pagination": {
                  "$ref": "#/definitions/Pagination"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key."
          },
          "500": {
            "description": "Internal server error."
          }
        },
        "security": [
          {
            "oauth2-auth": [
              "flows:read",
              "flows:write",
              "sparks:read"
            ]
          }
        ]
      },
      "post": {
        "operationId": "CreateStudy",
        "summary": "Create a Study",
        "description": "Create a Study and optionally attach existing or newly created Audiences with audienceIds and audienceConfigs.",
        "tags": [
          "Studies"
        ],
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "name"
              ],
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Name of the new Study.",
                  "x-ms-summary": "Study name"
                },
                "audienceIds": {
                  "type": "array",
                  "description": "IDs of existing Audiences to attach to the Study.",
                  "items": {
                    "type": "string"
                  },
                  "x-ms-summary": "Audience IDs"
                },
                "audienceConfigs": {
                  "type": "array",
                  "description": "Audiences to create from existing Minds and attach to the Study.",
                  "items": {
                    "type": "object",
                    "required": [
                      "name",
                      "mindIds"
                    ],
                    "properties": {
                      "name": {
                        "type": "string",
                        "x-ms-summary": "Audience name",
                        "description": "Name of the new Audience."
                      },
                      "mindIds": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "x-ms-summary": "Mind IDs",
                        "description": "IDs of the Minds in the new Audience."
                      }
                    }
                  },
                  "x-ms-summary": "New Audiences",
                  "x-ms-visibility": "advanced"
                },
                "isLinkSharingEnabled": {
                  "type": "boolean",
                  "description": "Whether anyone with the link can view the Study and its Audiences.",
                  "x-ms-summary": "Enable link sharing",
                  "x-ms-visibility": "advanced"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Study created.",
            "schema": {
              "type": "object",
              "required": [
                "data"
              ],
              "properties": {
                "data": {
                  "$ref": "#/definitions/StudyCreated"
                }
              }
            }
          },
          "400": {
            "description": "Missing `name`."
          },
          "401": {
            "description": "Missing or invalid API key."
          },
          "403": {
            "description": "Plan limit reached (`code: PLAN_LIMIT`)."
          },
          "404": {
            "description": "One or more Audience IDs were not found or are inaccessible to the caller."
          },
          "500": {
            "description": "Internal server error."
          }
        },
        "security": [
          {
            "oauth2-auth": [
              "flows:read",
              "flows:write",
              "sparks:read"
            ]
          }
        ]
      }
    },
    "/studies/{studyId}": {
      "get": {
        "operationId": "GetStudy",
        "summary": "Get a Study",
        "description": "Return a Study with its attached audiences, Minds, and messages.",
        "tags": [
          "Studies"
        ],
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "studyId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Study ID",
            "description": "The ID of the Study."
          }
        ],
        "responses": {
          "200": {
            "description": "Study details.",
            "schema": {
              "type": "object",
              "required": [
                "data"
              ],
              "properties": {
                "data": {
                  "$ref": "#/definitions/StudyDetail"
                }
              }
            }
          },
          "400": {
            "description": "Invalid study ID, or the Study is not in study mode."
          },
          "401": {
            "description": "Missing or invalid authentication."
          },
          "403": {
            "description": "The caller cannot access this study."
          },
          "404": {
            "description": "Study not found."
          }
        },
        "security": [
          {
            "oauth2-auth": [
              "flows:read",
              "flows:write",
              "sparks:read"
            ]
          }
        ]
      }
    },
    "/studies/{studyId}/research-plans/preview": {
      "post": {
        "operationId": "PreviewStudyResearchPlan",
        "summary": "Preview a Study research plan",
        "description": "Let the research-planning model capture intent, main source, all attached assets, questions, optional methods, semantic outputs, missing inputs, confirmation questions, and a proposed response contract for every question. Clients can deterministically edit response formats and assign durable assets to exact questions. Pass `questions` instead of `request` to transcribe a fixed instrument exactly: text, order, ids, and per-item response contracts are stored as given and no planning model runs. Fetchable remote files are copied into durable Minds chat storage before the versioned draft is saved. Local file:// paths are not uploads. This endpoint never executes research.",
        "tags": [
          "Studies",
          "Research"
        ],
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "studyId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Study ID",
            "description": "The ID of the Study."
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "request": {
                  "type": "string",
                  "x-ms-summary": "Research request",
                  "description": "What you want to learn. Required when you start a new draft plan.",
                  "x-ms-visibility": "important"
                },
                "studyLocale": {
                  "type": "string",
                  "description": "Language used for the plan and its eventual study output.",
                  "enum": [
                    "en",
                    "es",
                    "fr",
                    "de",
                    "zh",
                    "tr",
                    "ar",
                    "ja",
                    "ko"
                  ],
                  "x-ms-summary": "Study language"
                },
                "source": {
                  "type": "object",
                  "description": "The main material that respondents see, such as a prompt, website, image, video or document.",
                  "properties": {
                    "kind": {
                      "type": "string",
                      "enum": [
                        "prompt",
                        "website",
                        "image",
                        "video",
                        "document",
                        "questionnaire",
                        "other"
                      ],
                      "x-ms-summary": "Source type",
                      "description": "The type of the main source."
                    },
                    "label": {
                      "type": "string",
                      "x-ms-summary": "Source label",
                      "description": "A short name for the main source."
                    },
                    "url": {
                      "type": "string",
                      "x-ms-summary": "Source URL",
                      "description": "Public URL of the main source."
                    },
                    "mimeType": {
                      "type": "string",
                      "x-ms-summary": "Source MIME type",
                      "description": "MIME type of the main source, for example image/png."
                    },
                    "content": {
                      "type": "string",
                      "maxLength": 20000,
                      "x-ms-summary": "Source content",
                      "description": "Exact text that respondents see, for a prompt source."
                    }
                  },
                  "x-ms-summary": "Main source",
                  "x-ms-visibility": "advanced"
                },
                "draftPlanId": {
                  "type": "string",
                  "x-ms-summary": "Draft plan ID",
                  "description": "ID of an existing draft plan to revise. Leave empty to start a new draft.",
                  "x-ms-visibility": "advanced"
                },
                "revision": {
                  "type": "integer",
                  "minimum": 1,
                  "format": "int32",
                  "x-ms-summary": "Draft revision",
                  "description": "Current revision number of the draft plan you revise.",
                  "x-ms-visibility": "advanced"
                },
                "refinement": {
                  "type": "string",
                  "x-ms-summary": "Refinement",
                  "description": "Instructions for revising the existing draft plan.",
                  "x-ms-visibility": "advanced"
                },
                "answers": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  },
                  "x-ms-summary": "Answers",
                  "description": "Answers to the planner's confirmation questions, keyed by question ID.",
                  "x-ms-visibility": "advanced"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Saved plan draft, per-question response contracts, and confirmation questions.",
            "schema": {
              "type": "object",
              "required": [
                "data"
              ],
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "plan": {
                      "$ref": "#/definitions/ResearchStudyPlan"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Study access denied."
          },
          "404": {
            "description": "Study or draft not found."
          },
          "409": {
            "description": "Draft revision conflict."
          }
        },
        "security": [
          {
            "oauth2-auth": [
              "flows:read",
              "flows:write",
              "sparks:read"
            ]
          }
        ]
      }
    },
    "/studies/{studyId}/summary": {
      "get": {
        "operationId": "GetStudySummary",
        "summary": "Get a Study summary",
        "description": "Return the persisted whole-study summary, semantic output blocks, staleness, and message coverage. Renderers are hints; consumers may introduce new UI logic without changing evidence contracts.",
        "tags": [
          "Studies",
          "Research"
        ],
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "studyId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Study ID",
            "description": "The ID of the Study."
          }
        ],
        "responses": {
          "200": {
            "description": "Persisted semantic summary.",
            "schema": {
              "type": "object",
              "required": [
                "data"
              ],
              "properties": {
                "data": {
                  "type": "object",
                  "required": [
                    "revision",
                    "isGenerating",
                    "messageCount",
                    "newMessageCount",
                    "isStale",
                    "hasEnoughContent"
                  ],
                  "properties": {
                    "summary": {
                      "x-nullable": true,
                      "description": "The persisted summary, or null when none has been generated yet.",
                      "properties": {
                        "content": {
                          "type": "string",
                          "description": "Summary text in Markdown."
                        },
                        "length": {
                          "type": "string",
                          "description": "Requested summary length."
                        },
                        "coveredMessageCount": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Number of messages the summary covers."
                        },
                        "coveredUpToMessageId": {
                          "type": "string",
                          "description": "ID of the last message the summary covers."
                        },
                        "updatedAt": {
                          "type": "string",
                          "description": "When the summary was last updated."
                        }
                      }
                    },
                    "revision": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Summary revision number."
                    },
                    "isGenerating": {
                      "type": "boolean",
                      "description": "Whether a summary is being generated right now."
                    },
                    "messageCount": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Number of public messages in the Study."
                    },
                    "newMessageCount": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Messages added since the summary was generated."
                    },
                    "isStale": {
                      "type": "boolean",
                      "description": "Whether newer messages are not yet covered by the summary."
                    },
                    "hasEnoughContent": {
                      "type": "boolean",
                      "description": "Whether the Study has enough messages to summarize."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Study is not in study mode."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Study access denied."
          },
          "404": {
            "description": "Study not found."
          }
        },
        "security": [
          {
            "oauth2-auth": [
              "flows:read",
              "flows:write",
              "sparks:read"
            ]
          }
        ]
      }
    }
  },
  "definitions": {
    "StudySummary": {
      "type": "object",
      "required": [
        "id",
        "name",
        "studyMode",
        "createdAt",
        "updatedAt",
        "messageCount",
        "audiences"
      ],
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "studyMode": {
          "type": "string",
          "description": "Canonical Study resource discriminator.",
          "enum": [
            "study"
          ]
        },
        "createdAt": {
          "type": "string"
        },
        "updatedAt": {
          "type": "string"
        },
        "messageCount": {
          "type": "integer",
          "description": "Number of stored messages across all roles, including user, assistant and system messages.",
          "format": "int32"
        },
        "isPublic": {
          "type": "boolean",
          "description": "Whether the Study is publicly accessible."
        },
        "isLinkSharingEnabled": {
          "type": "boolean"
        },
        "publicShareId": {
          "type": "string",
          "x-nullable": true
        },
        "audiences": {
          "type": "array",
          "items": {
            "type": "object",
            "required": [
              "id",
              "name",
              "mindCount",
              "minds"
            ],
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "mindCount": {
                "type": "integer",
                "format": "int32"
              },
              "minds": {
                "type": "array",
                "items": {
                  "type": "object",
                  "required": [
                    "id",
                    "name"
                  ],
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "discipline": {
                      "type": "string",
                      "x-nullable": true
                    },
                    "profileImageUrl": {
                      "type": "string",
                      "x-nullable": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "Pagination": {
      "type": "object",
      "required": [
        "total",
        "limit",
        "offset"
      ],
      "properties": {
        "total": {
          "type": "integer",
          "description": "Total matching rows.",
          "format": "int32"
        },
        "limit": {
          "type": "integer",
          "description": "Page size requested.",
          "format": "int32"
        },
        "offset": {
          "type": "integer",
          "description": "Number of rows skipped.",
          "format": "int32"
        }
      }
    },
    "StudyCreated": {
      "type": "object",
      "required": [
        "id",
        "name",
        "studyMode",
        "createdAt",
        "isLinkSharingEnabled",
        "audiences"
      ],
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "studyMode": {
          "type": "string",
          "enum": [
            "study"
          ]
        },
        "createdAt": {
          "type": "string"
        },
        "isLinkSharingEnabled": {
          "type": "boolean"
        },
        "publicShareId": {
          "type": "string",
          "x-nullable": true
        },
        "audiences": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/StudyAudience"
          }
        }
      }
    },
    "StudyDetail": {
      "type": "object",
      "required": [
        "id",
        "name",
        "studyMode",
        "createdAt",
        "updatedAt",
        "isLinkSharingEnabled",
        "audiences",
        "messages"
      ],
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "studyMode": {
          "type": "string",
          "enum": [
            "study"
          ]
        },
        "createdAt": {
          "type": "string"
        },
        "updatedAt": {
          "type": "string"
        },
        "isPublic": {
          "type": "boolean",
          "description": "Whether the Study is publicly accessible."
        },
        "isLinkSharingEnabled": {
          "type": "boolean"
        },
        "publicShareId": {
          "type": "string",
          "x-nullable": true
        },
        "audiences": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/StudyAudience"
          }
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/StudyMessage"
          }
        }
      }
    },
    "ResearchStudyPlan": {
      "type": "object",
      "description": "Versioned research plan. Every question exposes its proposed or confirmed response contract.",
      "properties": {
        "version": {
          "type": "integer",
          "format": "int32",
          "enum": [
            1
          ]
        },
        "executionPolicy": {
          "type": "object",
          "required": [
            "sourcePolicy"
          ],
          "properties": {
            "sourcePolicy": {
              "type": "string",
              "description": "Checksum-locked evidence policy for the confirmed run. request_only is the controlled-Study default; auto is an explicit experimental opt-in.",
              "enum": [
                "request_only",
                "auto"
              ]
            },
            "videoAnalysisStyle": {
              "type": "string",
              "description": "Register of the one video summary every Mind of this run reads. record (default) writes down the spoken script, the visible scenes and the on-screen text; analyst deliberately reproduces the pre-2026-09 prompt, which reads tone and intent and raises the panel's positive rating bias.",
              "enum": [
                "record",
                "analyst"
              ]
            },
            "mindSourcePolicyOverrides": {
              "type": "array",
              "description": "Deterministically ordered, checksum-lockable per-Mind experiment assignments. Unlisted Minds use sourcePolicy.",
              "maxItems": 2000,
              "items": {
                "type": "object",
                "required": [
                  "mindId",
                  "sourcePolicy"
                ],
                "properties": {
                  "mindId": {
                    "type": "string"
                  },
                  "sourcePolicy": {
                    "type": "string",
                    "enum": [
                      "request_only",
                      "auto"
                    ]
                  }
                },
                "additionalProperties": false
              }
            }
          },
          "additionalProperties": false
        },
        "modules": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "questions": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "text": {
                      "type": "string"
                    },
                    "response": {
                      "description": "Confirmed response contract for a planned question."
                    },
                    "askIf": {
                      "type": "object",
                      "description": "Ask this question only of respondents whose own answer to an earlier question matched. Give exactly one of: answerIn (asked when the respondent chose any of these options) or answerNotIn (asked when it chose none of them) for an earlier categorical or multiselect question, using its option labels exactly; or categoryIn / categoryNotIn for an earlier open (qualitative) question, which codes each respondent's own answer into one of the categories named for that question (one coding frame per question, at most 12 categories) after it has been answered and before this question runs. An answer that fits none of the categories counts as none of them. Scale and ranking questions cannot gate. Respondents not asked are recorded as not asked and excluded from this question's results.",
                      "required": [
                        "questionId"
                      ],
                      "properties": {
                        "questionId": {
                          "type": "string",
                          "description": "Id of the earlier question whose answer decides.",
                          "minLength": 1,
                          "maxLength": 80
                        },
                        "answerIn": {
                          "type": "array",
                          "minItems": 1,
                          "maxItems": 100,
                          "items": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 500
                          }
                        },
                        "answerNotIn": {
                          "type": "array",
                          "minItems": 1,
                          "maxItems": 100,
                          "items": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 500
                          }
                        },
                        "categoryIn": {
                          "type": "array",
                          "minItems": 1,
                          "maxItems": 100,
                          "items": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 500
                          }
                        },
                        "categoryNotIn": {
                          "type": "array",
                          "minItems": 1,
                          "maxItems": 100,
                          "items": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 500
                          }
                        }
                      },
                      "additionalProperties": false
                    },
                    "attachmentIds": {
                      "type": "array",
                      "description": "Durable Study-asset IDs assigned only to this question.",
                      "uniqueItems": true,
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "additionalProperties": true
                }
              }
            },
            "additionalProperties": true
          }
        }
      },
      "additionalProperties": true
    },
    "ResearchQuestionResponse": {
      "description": "Confirmed response contract for a planned question."
    },
    "ResearchQuestionCondition": {
      "type": "object",
      "description": "Ask this question only of respondents whose own answer to an earlier question matched. Give exactly one of: answerIn (asked when the respondent chose any of these options) or answerNotIn (asked when it chose none of them) for an earlier categorical or multiselect question, using its option labels exactly; or categoryIn / categoryNotIn for an earlier open (qualitative) question, which codes each respondent's own answer into one of the categories named for that question (one coding frame per question, at most 12 categories) after it has been answered and before this question runs. An answer that fits none of the categories counts as none of them. Scale and ranking questions cannot gate. Respondents not asked are recorded as not asked and excluded from this question's results.",
      "required": [
        "questionId"
      ],
      "properties": {
        "questionId": {
          "type": "string",
          "description": "Id of the earlier question whose answer decides.",
          "minLength": 1,
          "maxLength": 80
        },
        "answerIn": {
          "type": "array",
          "minItems": 1,
          "maxItems": 100,
          "items": {
            "type": "string",
            "minLength": 1,
            "maxLength": 500
          }
        },
        "answerNotIn": {
          "type": "array",
          "minItems": 1,
          "maxItems": 100,
          "items": {
            "type": "string",
            "minLength": 1,
            "maxLength": 500
          }
        },
        "categoryIn": {
          "type": "array",
          "minItems": 1,
          "maxItems": 100,
          "items": {
            "type": "string",
            "minLength": 1,
            "maxLength": 500
          }
        },
        "categoryNotIn": {
          "type": "array",
          "minItems": 1,
          "maxItems": 100,
          "items": {
            "type": "string",
            "minLength": 1,
            "maxLength": 500
          }
        }
      },
      "additionalProperties": false
    },
    "FixedInstrumentQuestions": {
      "type": "array",
      "description": "Fixed instrument. When present the planner is bypassed: every question is stored verbatim (whitespace collapsed), in this order, with exactly this response contract, except that a question sent as qualitative (or as a choice without options) whose own text lists its answers is stored as the choice question that text states: single choice, multiselect or ranking. Use `edits` on the saved revision to set it back to qualitative. Consecutive questions sharing a module label form one module. Cannot be combined with refinement, answers, questionResponses, or suggestQuestionStimuli. Repeated question texts or colliding ids are rejected.",
      "minItems": 1,
      "maxItems": 200,
      "items": {
        "type": "object",
        "required": [
          "text",
          "response"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Stable item id; lower-cased to a slug. Defaults to q<position>.",
            "maxLength": 80
          },
          "text": {
            "type": "string",
            "description": "Exact respondent-visible question text, including any anchors or labels. Skip and filter instructions (\"No -> go to Q12\", \"only if Q3 = Yes\") do not belong in the text either: transcribe each as askIf. A jump from an answer of item G to item N gives every item between G and N answerNotIn [that answer]; a filter gives answerIn. Tell the person about any instruction you cannot map to exact items and options instead of guessing it.",
            "maxLength": 2000
          },
          "module": {
            "type": "string",
            "description": "Optional module (battery) label; consecutive questions with the same label are grouped.",
            "maxLength": 200
          },
          "response": {
            "description": "Confirmed response contract for a planned question."
          },
          "askIf": {
            "type": "object",
            "description": "Ask this question only of respondents whose own answer to an earlier question matched. Give exactly one of: answerIn (asked when the respondent chose any of these options) or answerNotIn (asked when it chose none of them) for an earlier categorical or multiselect question, using its option labels exactly; or categoryIn / categoryNotIn for an earlier open (qualitative) question, which codes each respondent's own answer into one of the categories named for that question (one coding frame per question, at most 12 categories) after it has been answered and before this question runs. An answer that fits none of the categories counts as none of them. Scale and ranking questions cannot gate. Respondents not asked are recorded as not asked and excluded from this question's results.",
            "required": [
              "questionId"
            ],
            "properties": {
              "questionId": {
                "type": "string",
                "description": "Id of the earlier question whose answer decides.",
                "minLength": 1,
                "maxLength": 80
              },
              "answerIn": {
                "type": "array",
                "minItems": 1,
                "maxItems": 100,
                "items": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 500
                }
              },
              "answerNotIn": {
                "type": "array",
                "minItems": 1,
                "maxItems": 100,
                "items": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 500
                }
              },
              "categoryIn": {
                "type": "array",
                "minItems": 1,
                "maxItems": 100,
                "items": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 500
                }
              },
              "categoryNotIn": {
                "type": "array",
                "minItems": 1,
                "maxItems": 100,
                "items": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 500
                }
              }
            },
            "additionalProperties": false
          }
        },
        "additionalProperties": false
      }
    },
    "StudyAudience": {
      "type": "object",
      "required": [
        "id",
        "name",
        "minds"
      ],
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "minds": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/StudyMind"
          }
        }
      }
    },
    "StudyMessage": {
      "type": "object",
      "required": [
        "id",
        "role",
        "content",
        "metadata",
        "createdAt"
      ],
      "properties": {
        "id": {
          "type": "string"
        },
        "role": {
          "type": "string"
        },
        "content": {
          "type": "string"
        },
        "metadata": {},
        "createdAt": {
          "type": "string"
        }
      }
    },
    "StudyMind": {
      "type": "object",
      "required": [
        "id",
        "name"
      ],
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "discipline": {
          "type": "string",
          "x-nullable": true
        },
        "profileImageUrl": {
          "type": "string",
          "x-nullable": true
        }
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://getminds.ai"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://getminds.ai/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "AI;Marketing"
    }
  ]
}
